:root {
    --primary-color:  #83695B;
    --secondary-color: #D9D9D9;
    --primary-background: #d9d9d9;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.logo-name a img {
    height: 40px;
}

.name {
    font-size: 32px;
}

.coder-text {
    color: #83695B;
}

.academy-text {
    color: #D9D9D9;
}

#nav-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}   

#nav-items a {
    text-decoration: none;
}