main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

article {
    background-color: var(--secondary-color);
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;
}

.services-image {
    width: 400px;
}